// Theme colors
// Primary
$primary:            #492EC2;									
$primary-active:     #9F9BE7;							
$primary-light:    	 #6F6C90;					    
$primary-light-dark: #010C80;
$primary-inverse:  	 #377EE8;							
//secondary
$secondary:          #606060;
$secondary-light:     #9A9EA6;
$secondary-light-dark:#B0B0B0;
$secondary-inverse:    #1A3447;
$secondary-dark:    #1F192F;
// Success
$success:       	#55A55E;
$success-active:   	#FF7F5C;
$success-light:    	#E8EAFF;

//fonts
$primary-heading-weight: Bold;
$secondary-heading-weight: 600;
$teritary-heading-weight: bold;
